{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" href="{% static 'main/img/shuttle.png' %}" type="image/x-icon">


</head>
<body>
    <aside>
        <img src="{% static 'main/img/rocket-312767.svg' %}" alt="Лого">
        <span class="logo">НПО Энергомаш</span>
        <h3>Информация</h3>
        <ul>
            <a href="./static/main/img/file_test.pdf" target="_blank"><li><i class="fas fa-home"></i><strong> Главная</strong></li></a>

            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i><strong> Контакты</strong></li></a>

            <a href="./static/main/img/file_test.pdf" target="_blank"><li><i class="fa-solid fa-atom"></i><strong> Нейросетевое моделирование</strong></li></a>

            <a href="{% url 'home' %}"><li><i class="fas fa-paper-plane"></i> ...</li></a>


        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>